<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>First Response Online</string>
	<key>CFBundleIdentifier</key>
	<string>com.mscorp.firstresponse</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-76@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small-40.png</string>
		<string>Icon-Small-40@2x.png</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/TitilliumWeb-Light.ttf</string>
		<string>fonts/TitilliumWeb-Regular.ttf</string>
	</array>
</dict>
</plist>
